<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

<body style="font-family:Arial; background:#f5f5f5;">

<div style="width:300px; margin:100px auto; background:white; padding:20px; border-radius:10px;">

    <h2 style="text-align:center;">Login</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username"
               style="width:100%; padding:10px; margin-bottom:10px;">

        <input type="password" name="password" placeholder="Password"
               style="width:100%; padding:10px; margin-bottom:10px;">

        <button type="submit"
                style="width:100%; padding:10px; background:#2874f0; color:white; border:none;">
            Login
        </button>

    </form>

</div>

</body>
</html>