<!DOCTYPE html>
<html>
<head>
<title>Success</title>

<style>
body{
    font-family: Arial;
    background:#e8f5e9;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.card{
    background:white;
    padding:40px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

h1{
    color:green;
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#2874f0;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
</style>

</head>

<body>

<div class="card">

    <h1>🎉 Order Placed Successfully!</h1>

<p>Order ID: {{ order.id }}</p>

<h3>Items:</h3>

{% for i in items %}
    <p>
        {{ i.product.name }} - Qty: {{ i.quantity }}
    </p>
{% endfor %}

<h2>Total: ₹{{ total }}</h2>

<a class="btn" href="{% url 'home' %}">Continue Shopping</a>